# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/static/

# Migrations file
drizzle/

# Workers type file
worker-configuration.d.ts

# Ignore types file, it is being auto generated after build and that's annyoing
# Frfr
types.d.ts